body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}
.main {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0 150px;
}

img {
    display: flex;
    height: auto;
    width: 175px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.main.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.main-text {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.description {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882f6;
    border-radius: 5px;
    border-style: none;
    padding: 6px 18px;
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 96px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 150px;
    padding: 20px;
    font-size: 18px;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 40px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 40px 40px 40px 0;
}

.author {
    font-weight: bold;
    font-style: normal;
}

.odin {
    text-align: center;
    padding: 20px;
    color: white;
    opacity: 40%;
}